html,body{
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    margin: 1%;
    padding: 1%;
    width: 100%;
    max-width: 1800px;
    font-family: 'Sans ser-if';
}

container-frame{
    border-style: 'solid';
    border-width: 3px;
    background-color: '#009664';
    borde-color: 'black'
}

title-style {
    font-size: '24px';
    font-weight: 'bold'
}